* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("maquiagem\ fundo.jpg.jpeg");
  background-repeat: no-repeat;
}
.login-container {
  background: lch(1.69% 2.8 65.43);
  padding: 20px;
  border-radius: 40px;
  width: 300px;
  text-align: center;
  opacity: 0.8;
}
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #86868594;
}
button {
  background-color: #7b6806;
  color: white;
  border: none;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
button:hover {
  background-color: #ab910e;
}
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: hsl(0, 23%, 91%);
  font-family: "Afacad", sans-serif;
}

h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 10px;
}
.entra > a {
  text-decoration: underline;
  color: #b1971994;
}
